<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- TODO: Implement responsive design with nav bar-->
        <div class="row">
            <div class="col-xs-12" id="navbar-container">
                <div class="navbar navbar-default">
                    <div class="collapse navbar-collapse" collapse="menuCollapsed">
                        <ul class="nav navbar-nav navbar-left">
                            <li ui-sref-active="active">
                                <a href="#/data"><strong>PRODUCT DETAILS</strong></a>
                            </li>
                            <li ui-sref-active="active" class="active current-link">
                                <a href="#/refreshToken"><strong>REFRESH TOKEN</strong></a>
                            </li>
                            <li ui-sref-active="active" class="active current-link">
                                <a href="#/settings"><strong>SETTINGS</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="refreshToken">
            <div class="wrap">
                <br/>
                <div class="row no-gutter navbar navbar-default searchbar">
                    <div class="col-sm-2">
                        <h4>REFRESH TOKEN</h4>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                <div class="row no-gutter navbar navbar-default searchbar">
                    <div class="col-sm-7 ">
                        <div class="input-group">
                            <span class="input-group-addon">URL</span>
                            <input type="text" ng-model="credentials.refreshTokenURL" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-5 ">
                        <div class="input-group">
                            <span class="input-group-addon">Refresh Token</span>
                            <input type="text" ng-model="credentials.refreshToken" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row no-gutter navbar navbar-default searchbar">
                    <div class="col-sm-4 ">
                        <div class="input-group">
                            <span class="input-group-addon">Client ID</span>
                            <input type="text" ng-model="credentials.clientId" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="input-group">
                            <span class="input-group-addon">Client Secret</span>
                            <input type="text" ng-model="credentials.clientSecret" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button id="refresh-access-token-button" type="submit" ng-click="getNewAccessToken()" class="btn btn-primary btn-block ">
                            <span data-ng-hide="poiSearching">REFRESH TOKEN</span>
                            <span data-ng-show="poiSearching">Waiting for VendHQ Response <i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                    </div>
                </div>
                <br/>
                <div class="alert alert-danger" data-ng-show="refreshTokenFail">
                    Error getting new token, response data: {{refreshTokenError}}
                </div>
                <form class="form-inline" role="form" name="poiForm" data-ng-hide="refreshTokenFail" >
                    <div id="pois-list" >
                        <div class="col-md-1 visible-sm"></div>
                        <div class="col-md-10">
                            <h4>Token: <b>{{credentials.tokenType}} {{credentials.token}}</b></h4>
                            <h4>Expires: <b>{{credentials.tokenExpiresAt | date: 'yyyy/MM/dd HH:mm:ss'}}</b></h4>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>