@font-face {
	font-family: 'onstar';
	src:url('fonts/app.eot?9fh5le');
	src:url('fonts/app.eot?#iefix9fh5le') format('embedded-opentype'),
		url('fonts/app.woff?9fh5le') format('woff'),
		url('fonts/app.ttf?9fh5le') format('truetype'),
		url('fonts/app.svg?9fh5le#onstar') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="rs_i_"], [class*=" rs_i_"] {
	font-family: 'onstar';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.rs_i_envelope:before {
	content: "\22";
}
.rs_i_banner:before {
	content: "\26";
}
.rs_i_phone:before {
	content: "\27";
}
.rs_i_caret_down:before {
	content: "\28";
}
.rs_i_tag_corner:before {
	content: "\29";
}
.rs_i_close:before {
	content: "\2a";
}
.rs_i_refresh_24:before {
	content: "\2b";
}
.rs_i_exclamation:before {
	content: "\2c";
}
.rs_i_cancel:before {
	content: "\2e";
}
.rs_i_book-mark:before {
	content: "\2f";
}
.rs_i_building:before {
	content: "\30";
}
.rs_i_car:before {
	content: "\31";
}
.rs_i_plane:before {
	content: "\32";
}
.rs_i_business_plane:before {
	content: "\33";
}
.rs_i_calendar:before {
	content: "\34";
}
.rs_i_arrow_up:before {
	content: "\35";
}
.rs_i_arrow_right:before {
	content: "\36";
}
.rs_i_arrow_down:before {
	content: "\37";
}
.rs_i_arrow_left:before {
	content: "\38";
}
.rs_i_map_marker:before {
	content: "\39";
}
.rs_i_memorial:before {
	content: "\3a";
}
.rs_i_leaf:before {
	content: "\3b";
}
.rs_i_circle_check:before {
	content: "\3c";
}
.rs_i_pencil:before {
	content: "\3d";
}
.rs_i_printer:before {
	content: "\3e";
}
.rs_i_exclamation_warning:before {
	content: "\3f";
}
.rs_i_business:before {
	content: "\41";
}
.rs_i_uni42:before {
	content: "\42";
}
.rs_i_person:before {
	content: "\43";
}
.rs_i_golf:before {
	content: "\44";
}
.rs_i_fitness:before {
	content: "\45";
}
.rs_i_eye:before {
	content: "\46";
}
.rs_i_restaurant:before {
	content: "\47";
}
.rs_i_bed:before {
	content: "\48";
}
.rs_i_card:before {
	content: "\49";
}
.rs_i_enterprise:before {
	content: "\4a";
}
.rs_i_refresh:before {
	content: "\4b";
}
.rs_i_uni4C:before {
	content: "\4c";
}
.rs_i_lock_check:before {
	content: "\5c";
}
.rs_i_uni5D:before {
	content: "\5d";
}
.rs_i_circle:before {
	content: "\5f";
}
.rs_i_uni60:before {
	content: "\60";
}
.rs_i_caret_right:before {
	content: "\61";
}
.rs_i_cart_left:before {
	content: "\62";
}
.rs_i_search:before {
	content: "\63";
}
.rs_i_cicle_close:before {
	content: "\64";
}
.rs_i_star_filled:before {
	content: "\65";
}
.rs_i_star_half:before {
	content: "\66";
}
.rs_i_star_blank:before {
	content: "\67";
}
.rs_i_list:before {
	content: "\68";
}
.rs_i_uni69:before {
	content: "\69";
}
.rs_i_bullet_list:before {
	content: "\6a";
}
.rs_i_picture:before {
	content: "\6b";
}
.rs_i_comment:before {
	content: "\6c";
}
.rs_i_breifcase:before {
	content: "\6d";
}
.rs_i_clock_analog:before {
	content: "\6e";
}
.rs_i_check_stacked:before {
	content: "\6f";
}
.rs_i_home:before {
	content: "\70";
}
.rs_i_wheelchair:before {
	content: "\71";
}
.rs_i_paw:before {
	content: "\72";
}
.rs_i_wifi:before {
	content: "\73";
}
.rs_i_breakfast:before {
	content: "\74";
}
.rs_i_swim:before {
	content: "\75";
}
.rs_i_no_smoking:before {
	content: "\76";
}
.rs_i_chair:before {
	content: "\77";
}
.rs_i_child:before {
	content: "\78";
}
.rs_i_baggage:before {
	content: "\79";
}
.rs_i_tag:before {
	content: "\7a";
}
.rs_i_check:before {
	content: "\7b";
}
.rs_i_cell_phone:before {
	content: "\7c";
}
.rs_i_checked:before {
	content: "\7d";
}
.rs_i_currency:before {
	content: "\7e";
}
